<h1> New Form </h1>
<%= form_for :form, url: forms_path do |f| %>

<p>
    <%= f.label :fname, 'First Name' %><br>
    <%= f.text_field :fname %>
  </p>

<p>
    <%= f.label :lname, 'Last Name' %><br>
    <%= f.text_field :lname %>
  </p>
  <p>
    <%= f.label :intro,'About yourself' %><br>
    <%= f.text_area :intro %>
  </p>

  <p>
    <%= f.label :email, 'Email ID' %><br>
    <%= f.email_field :email %>
  </p>
  <p>
    <%= f.label:pwd, 'Password' %>
    <%= f.password_field:pwd %>
  </p>
  
  <p>
    <%= f.label:dob, 'Date of Birth' %>
        <%= f.date_select(:dob,:start_year => 1940) %>
	  </p>
	    <p>
	   <%= f.label:age, 'Age' %>
<%= f.select:age, (1..80), {:prompt => 'Please Select'} %>
</p>  <p>
    <%= f.label:sex, 'Gender' %> <br>
    <%= f.radio_button:sex,'M' %>
    <%= f.label:sex, 'Male', :value => 'M' %>
    <%= f.radio_button:sex, 'F' %>
    <%= f.label:sex, 'Female', :value=> 'F' %>
  </p> 

  <p>
    <%= f.submit %>
  </p>
<% end %>
